    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav">
        <li>{{#link-to 'tasks'}}Home{{/link-to}}</li>
        <li>{{#link-to 'tasks.new'}}New Task{{/link-to}}</li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
        </div>
    </div>
    </main>
